# ENV FILES (both frontend & backend)

.env
**/.env

# OS FILES

.DS_Store
Thumbs.db


# LOGS

*.log


# BACKEND (FastAPI / Python)

**pycache**/
**/**pycache**/
*.pyc

venv/
.venv/
env/

# FRONTEND (React / Node)

**/node_modules/

frontend/build/
frontend/dist/
frontend/.cache/

.vscode/
.idea/


